<div class="recommendations">
  <div class="recommendations__pictures">
    <% @complete_recommendations.each_with_index do |reco, index| %>
      <div class="recommendation__picture" data-movie-id="<%= index %>">
        <img src="https://image.tmdb.org/t/p/w200/<%= reco[:img_path] %>" alt="<%= reco[:title] %> poster">
      </div>
    <% end %>
  </div>

    <% @complete_recommendations.each_with_index do |reco,index| %>
      <div class="recommendation" data-movie-id="<%= index %>">
        <h2 class="recommendation__title"><%= reco[:title] %></h2>
        <p class="recommendation__description"><%= reco[:description] %></p>
      </div>
    <% end %>
</div>