<% content_for :class do %>
  container-step-2
<% end %>

<div class="inner">
  <%= render "shared/movie", movie: @movie %>
</div>

<div class="inner">  
    <%= render "shared/forms/movie_input", placeholder: "Type another movie" %>
</div>

<div class="inner">
  <div class="grid actors">
    <% @display_actors.each do |actor| %>
      <%= render "shared/actor", actor: actor %>
    <% end %>
  </div>
</div>

<div class="inner recommendations">

</div>

<%= render "shared/footer" %>

<script>
document.addEventListener("turbolinks:load", () => {

  fetch( "/recommendations/<%= @movie[:title] %>")
    .then(response=>response.json())
    .then(data=>{ 
      if(data.html){
        document.querySelector('.recommendations').innerHTML = data.html;
      }
     })
})
</script>